.App {
    overflow: hidden;
    height: 100vh;
    height: 100dvh;
}
.coverVideo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    animation: fadeIn 1s ease-in;
}
.hide {
    animation-name:fadeOut;
    animation-duration:0.5s;
}
/* Main invite */
.invite {
    height: 100%;
    width: 100%;
    border-bottom: 2px solid ;
    border-left: 2px solid ;
    border-right: 2px solid ;
    border-top: 2px solid ;
    position: absolute;
    top:0;
    animation: slideUp 2s ease-in;
}
.coloredBackground {
    height: 100%;
    width: 100%;
    animation: fadeIn 2s ease-in;
    z-index: -10;
}
.animatedBackground {
    position: fixed;
    top: 0;
    overflow-x: hidden;
}
.malaLayer {
    z-index: -5;
    position: fixed;
    /*height: auto;*/
}
.mala {
    overflow: hidden;
    width: 42.3%;
    height: 100%;
    animation: malaSway 1s ease-in-out infinite alternate;
}
.mala1 {
    position: relative;
    margin-left: -3vw;
    animation-duration: 4.75s;
}
.mala2 {
    position: absolute;
    left: 29vw;
    animation-duration: 4.5s;
}
.mala3 {
    position: absolute;
    left: 64vw;
    animation-duration: 5s;
}
.hangingFlowerLayer {
    z-index: -4;
    position: fixed;
    width: auto;
    height: 100%;
}
.hangingFlower {
    height: 17vh;
    position: relative;
    animation: flowersSway 1s ease-in-out infinite alternate;
}
.hF1 {
    left: 28vw;
    animation-duration: 4s;
}
.hF2 {
    left: 44vw;
    animation-duration: 3.25s;
}

.footerBackground {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35vh;
    /*background-color: red;*/
    color: white;
    text-align: center;
    z-index: 5;
    animation: fadeIn 2s ease-in;
    display: flex;
    object-fit: contain;
    overflow: hidden;
    /*overflow-x: hidden;*/
}
.leaf {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;
}
.leaf1 {
    -webkit-transform-origin: bottom center 10px;
    transform-origin: bottom center 10px;
    -webkit-animation: swinging 7s ease-in-out forwards infinite;
    animation: swinging 7s ease-in-out forwards infinite;
    height: 70vh;
    width: 37vw;
    margin-left: -10vw;
    z-index: -2;
}
.leaf2 {
    -webkit-transform-origin: bottom center 10px;
    transform-origin: bottom center 10px;
    -webkit-animation: swinging 8s ease-in-out forwards infinite;
    animation: swinging 8s ease-in-out alternate infinite;
    /*transform: rotate(20deg);*/
    width: 55vw;
    padding-top: 12vh;
    height: 55vh;
    margin-left: -27vw;
}
.leaf3 {
    -webkit-transform-origin: bottom center 10px;
    transform-origin: bottom center 10px;
    -webkit-animation: swinging 7.5s ease-in-out forwards infinite;
    animation: swinging 7.5s ease-in-out alternate infinite;
    width: 51vw;
    z-index: -1;
    padding-top: 11vh;
    margin-left: -51vw;
    height: 74vw;
}
.leaf4 {
    -webkit-transform-origin: bottom center 10px;
    transform-origin: bottom center 10px;
    -webkit-animation: swinging 7.15s ease-in-out forwards infinite;
    animation: swinging 7.15s ease-in-out alternate infinite;
    /*transform: rotate(36deg);*/
    z-index: -2;
    width: 46vw;
    margin-left: -23vw;
    padding-top: 21vw;
    height: 102vw;
}
.leaf5 {
    -webkit-transform-origin: bottom center 10px;
    transform-origin: bottom center 10px;
    -webkit-animation: swinging 7.88s ease-in-out forwards infinite;
    animation: swinging 7.88s ease-in-out forwards infinite;
    height: 80vw;
    width: 42vw;
    margin-left: -20vw;
    padding-top: 4vh;
}
.leaf6 {
    -webkit-transform-origin: bottom center 10px;
    transform-origin: bottom center 10px;
    -webkit-animation: swinging 7.5s ease-in-out forwards infinite;
    animation: swinging 7.5s ease-in-out alternate infinite;
    margin-left: -27vw;
    height: 70vh;
    width: 31vw;
    padding-top: 2vh;
    z-index: -1;
}
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100%);
        transition: transform 0.5s, opacity 0.5s;
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes malaSway{
    from{transform:translateX(-1px) rotate(0.5deg);}
    to{transform:translateX(1px) rotate(-0.5deg);}
}
@keyframes bellsSway{
    from{transform:translateX(-1px) rotate(1deg); transform-origin: top center;}
    to{transform:translateX(1px) rotate(-1deg); transform-origin: top center;}
}
@keyframes flowersSway{
    from{transform: rotate(1.5deg); transform-origin: top center;}
    to{transform:  rotate(-1.5deg); transform-origin: top center;}
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(-1deg);}
    50%{-webkit-transform: rotate(1deg)}
    100%{-webkit-transform: rotate(-1deg);}
}

@keyframes swinging{
    0%{transform: rotate(-1deg);}
    50%{transform: rotate(1deg)}
    100%{transform: rotate(-1deg);}
}